<!DOCTYPE html>
<html>
    <head>
        <title>57 45 4C 43 4F 4D 45 20 42 41 43 4B 2C 20 46 45 4C 4C 4F 57 20 52 4F 42 4F 54</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>

    <body style="background-color: darkblue;">

        <span>
            <pre style="color: greenyellow;">
                    _-o#&&*''''?d:>b\_
                _o/"`''  '',, dMF9MMMMMHo_
             .o&#'        `"MbHMMMMMMMMMMMHo.
           .o"" '         vodM*$&&HMMMMMMMMMM?.
          ,'              $M&ood,~'`(&##MMMMMMH\
         /               ,MMMMMMM#b?#bobMMMMHMMML
        &              ?MMMMMMMMMMMMMMMMM7MMM$R*Hk
       ?$.            :MMMMMMMMMMMMMMMMMMM/HMMM|`*L
      |               |MMMMMMMMMMMMMMMMMMMMbMH'   T,
      $H#:            `*MMMMMMMMMMMMMMMMMMMMb#}'  `?
      ]MMH#             ""*""""*#MMMMMMMMMMMMM'    -
      MMMMMb_                   |MMMMMMMMMMMP'     :
      HMMMMMMMHo                 `MMMMMMMMMT       .
      ?MMMMMMMMP                  9MMMMMMMM}       -
      -?MMMMMMM                  |MMMMMMMMM?,d-    '
       :|MMMMMM-                 `MMMMMMMT .M|.   :
        .9MMM[                    &MMMMM*' `'    .
         :9MMk                    `MMM#"        -
           &M}                     `          .-
            `&.                             .
              `~,   .                     ./
                  . _                  .-
                    '`--._,dd###pp=""'
            </pre>
        </span>
        <span>
            <pre style="color: greenyellow;">
                                                         |
                                         |
                                         |
                                         |
   _______                   ________    |
  |ooooooo|      ____       | __  __ |   |
  |[]+++[]|     [____]      |/  \/  \|   |
  |+ ___ +|     ]()()[      |\__/\__/|   |
  |:|   |:|   ___\__/___    |[][][][]|   |
  |:|___|:|  |__|    |__|   |++++++++|   |                      2d 20 48 61 76 65 20 79 6f 75 20 68 65
  |[]===[]|   |_|_/\_|_|    | ______ |   |                      61 72 64 20 61 62 6f 75 74 20 6f 75 72 
_ ||||||||| _ | | __ | | __ ||______|| __|                      20 6e 65 77 20 74 68 65 61 74 65 72 20 
  |_______|   |_|[::]|_|    |________|   \                      70 6c 61 79 3f 0a 2d 20 49 74 20 69 73 
              \_|_||_|_/                  \                     20 61 62 6f 75 74 20 72 6f 62 6f 74 20 
                |_||_|                     \                    73 79 6d 70 68 6f 6e 79 2c 20 69 73 20 
               _|_||_|_                     \                   6e 6f 74 20 69 74 3f 0a 2d 20 59 65 61 
      ____    |___||___|                     \                  2c 20 69 74 20 69 73 20 63 61 6c 6c 65 
     /  __\          ____                     \                 64 20 55 72 61 6c 43 54 46 7b 31 37 5f 
     \/ oo          /___ \                     \                34 6c 77 34 79 35 5f 68 34 35 5f 62 33 
     _\_o/           oo~\/                                      33 6e 5f 6a 75 35 37 5f 34 5f 70 6c 34 
    / \|/ \         _\-_/_                                      79 7d 0a
   / / __\ \___    / \|/  \
   \ \|   |__/_\  / / .- \ \
    \/_\  |       \ \ .  /_/
     ||___|        \/___/_/
     | | |          | |  |
     | | |          | |  |
     |_|_|          |_|__|
     [__/_\        /_\___]"
            </pre>
        </span>

    </body>
</html>
